<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.example.OrderMapper">
  <resultMap id="orderMap" type="com.example.model.Order">
     <id property="id" column="id" />
     <result property="orderNumber" column="orderNumber" />
     <result property="price" column="price" />
     <result property="userId" column="userId" />
   </resultMap>
   <></>
  <select id="selectOrder" resultType="map">
    select * from Payments where id = #{id} and orderNumber = #{orderNumber}
  </select>

  <select id="selectOrder" resultType="map">
    select * from Payments order by id desc
  </select>
  <select id="selectOrderByType" resultType="map">
    select * from Payments where 1=1 order by id desc
  </select>
  <select id="selectOrderById" resultType="map">
    select * from Payments where paymentId =#{paymentId} order by id desc
  </select>
  
  <select id="queryOrder" parameterType="org.apache.ibatis.z_run.pojo.QueryCondition" resultMap="orderMap">
    select
    *
    from
    (
        select
        <include refid="Base_Column_List"/>
        from purchase
        <where>
            <if test="id != null">
                And id = #{id,jdbcType=INTEGER}
            </if>
            <if test="category != null">
                And category = #{category,jdbcType=INTEGER}
            </if>
        </where>
    ) t1
	</select>
  <select id="findOrderByPage" resultType="com.example.model.Order">
    select * from Order limit #{page},#{size}
  </select>
  <select id="totalNumber" resultType="long">
    select count(1) from Order
  </select>

<select id="findById" resultType="com.example.model.Order">
    select * from Order WHERE id = #{orderId}
</select>
</mapper>