<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.example.OrderMapper">
  <resultMap id="orderMap" type="com.example.model.Order">
     <id property="id" column="id" />
     <result property="orderNumber" column="orderNumber" />
     <result property="price" column="price" />
     <result property="userId" column="userId" />
   </resultMap>
  <select id="selectOrder" resultType="map">
    select * from Payments where id = #{id} and orderNumber = #{orderNumber}
  </select>

  <select id="selectOrder" resultType="map">
    select * from Payments order by id desc
  </select>
  <select id="selectOrderByType" resultType="map">
    select * from Payments where 1=1 order by id desc
  </select>
  <select id="selectOrderById" resultType="map">
    select * from Payments where paymentId =#{paymentId} order by id desc
  </select>
</mapper>